<?xml version="1.0" ?>
<model>
    <name>Submarine model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Oscar Morrison</name>
        <email>oscarmorrison@uvic.ca</email>
    </author>
    <description>used in underwater simulation</description>
</model>
